{% extends "layout.html" %}

{% block content %}

{%import "_macros.html" as macros%}
<h1>Alumnos</h1>

<form action="" method="post" novalidate>
    {{form.csrf_token}}
    <input type="hidden" name="csrf_token" value="{{csrf_token()}}">
    <div class="mb-3">
        {{macros.campoNuevo(form.matricula,class='form-control')}}
    </div>
    <div class="mb-3">
        {{macros.campoNuevo(form.nombre,class='form-control')}}
    </div>
    <div class="mb-3">
        {{macros.campoNuevo(form.apaterno,class='form-control')}}
    </div>
    <div class="mb-3">
        {{macros.campoNuevo(form.amaterno,class='form-control')}}
    </div>
    <div class="mb-3">
        {{macros.campoNuevo(form.correo,class='form-control')}}
    </div>
    <button class="btn btn-primary" type="submit">Guardar</button>
        <h1>Matricula: {{mat}}</h1>
        <h1>Nombre: {{nom}}</h1>
        <h1>APaterno: {{apa}}</h1>
        <h1>AMaterno: {{ama}}</h1>
        <h1>Correo: {{email}}</h1>

</form>

{% endblock %}